h1 {
    text-align: center;
    color: red;
    font-size: xx-large /* large */
}

h1:hover {
    color: blue;
    transform:  scale(100deg);
    transition: all 1s;
}
div {
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

div:hover {
    background-color: red;
    transition: all 1s;
    transform:  scale(2) rotate(45deg) translateY(45px) skew(45deg);
}

